# Generate Weekday/Hour Offset Mapping

This code ensures that a "trading day" starts at 17:00 on one day and runs through 16:59 on the following day.

Oanda trading hours:  Sunday 17:05 through Friday 16:59 (New York time)

## Load useful libraries

In [1]:
import pandas as pd
import datetime
import pytz
import os

In [2]:
import boilerplate
from timeseries.models import Interval, Instrument, PriceType, Candlestick
from utilities.make_dataframe_from_db import make_candlestick_dataframe
from utilities.date_and_time_related_calculations import compute_datetime_information

In [3]:
os.environ['DJANGO_ALLOW_ASYNC_UNSAFE'] = 'true'

## User settings

In [4]:
#
# the following criteria rely on the database having candlestick values for them:
#
price_type_name = 'mid'
instrument_name = 'EUR/USD'
interval_name = 'Minute'

In [5]:
tz = pytz.timezone('US/Eastern')
output_directory = os.environ['APP_HOME'] + '/badassdatascience/forecasting/deep_learning/output'

In [6]:
print(output_directory)

/home/emily/Desktop/projects/test/badass-data-science/badassdatascience/forecasting/deep_learning/output

## Generate the mapping from the data

In [7]:
df_from_data = make_candlestick_dataframe(price_type_name, instrument_name, interval_name)
df_from_data = compute_datetime_information(df_from_data, tz)

df_shifted_weekday_from_data = df_from_data[['weekday_tz', 'hour_tz']].drop_duplicates().sort_values(by = ['weekday_tz', 'hour_tz']).copy()

df_shifted_weekday_from_data['weekday_shifted'] = (
    df_shifted_weekday_from_data['weekday_tz'].shift(-7)
    .fillna(0.)
    .astype('int32')
)

df_shifted_weekday_from_data['weekday_shifted'] = [4 if x == 6 else x for x in df_shifted_weekday_from_data['weekday_shifted']]

print(df_shifted_weekday_from_data.to_string())

            weekday_tz  hour_tz  weekday_shifted
1220846400           0        0                0
1220850000           0        1                0
1220853600           0        2                0
1220857200           0        3                0
1220860800           0        4                0
1220864400           0        5                0
1220868000           0        6                0
1220871600           0        7                0
1220875200           0        8                0
1220878800           0        9                0
1220882400           0       10                0
1220886000           0       11                0
1220889600           0       12                0
1220893200           0       13                0
1220896800           0       14                0
1220900400           0       15                0
1220904000           0       16                0
1220907600           0       17                1
1220911200           0       18                1
1220914800           0       19                1
1220918400           0       20                1
1220922000           0       21                1
1220925600           0       22                1
1220929200           0       23                1
1220932800           1        0                1
1220936400           1        1                1
1220940000           1        2                1
1220943600           1        3                1
1220947200           1        4                1
1220950800           1        5                1
1220954400           1        6                1
1220958000           1        7                1
1220961600           1        8                1
1220965200           1        9                1
1220968800           1       10                1
1220972400           1       11                1
1220976000           1       12                1
1220979600           1       13                1
1220983200           1       14                1
1220986800           1       15                1
1220990400           1       16                1
1220994000           1       17                2
1220997600           1       18                2
1221001200           1       19                2
1221004800           1       20                2
1221008400           1       21                2
1221012000           1       22                2
1221015600           1       23                2
1221019200           2        0                2
1221022800           2        1                2
1221026400           2        2                2
1221030000           2        3                2
1221033600           2        4                2
1221037200           2        5                2
1221040800           2        6                2
1221044400           2        7                2
1221048000           2        8                2
1221051600           2        9                2
1221055200           2       10                2
1221058800           2       11                2
1221062400           2       12                2
1221066000           2       13                2
1221069600           2       14                2
1221073200           2       15                2
1221076800           2       16                2
1221080400           2       17                3
1221084000           2       18                3
1221087600           2       19                3
1221091200           2       20                3
1221094800           2       21                3
1221098400           2       22                3
1221102000           2       23                3
1221105600           3        0                3
1221109200           3        1                3
1221112800           3        2                3
1221116400           3        3                3
1221120000           3        4                3
1221123600           3        5                3
1221127200           3        6                3
1221130800           3        7                3
1221134400           3        8                3
1221138000           3        9                3
1221141600           3       10                3
1221145200           3       11                3
1221148800           3       12                3
1221152400           3       13                3
1221156000           3       14                3
1221159600           3       15                3
1221163200           3       16                3
1221166800           3       17                4
1221170400           3       18                4
1221174000           3       19                4
1221177600           3       20                4
1221181200           3       21                4
1221184800           3       22                4
1221188400           3       23                4
1221192000           4        0                4
1221195600           4        1                4
1221199200           4        2                4
1220599980           4        3                4
1220601600           4        4                4
1220605200           4        5                4
1220608800           4        6                4
1220612400           4        7                4
1220616000           4        8                4
1220619600           4        9                4
1220623200           4       10                4
1220626800           4       11                4
1220630400           4       12                4
1220634000           4       13                4
1220637600           4       14                4
1220641200           4       15                4
1220644800           4       16                4
1221253200           4       17                5
1246054080           4       18                5
1254527160           4       19                5
1295659620           4       20                5
1297479300           4       21                5
1249696920           4       22                5
1297486440           4       23                5
1228539600           5        0                5
1286602680           5        1                5
1291446360           5        2                5
1295683500           5        3                5
1296294840           5        4                5
1273916460           5        5                5
1296301980           5        6                5
1295697780           5        7                5
1296309120           5        8                5
1295704920           5        9                5
1235833440           5       10                5
1295712060           5       11                5
1296323400           5       12                5
1295719200           5       13                5
1272737820           5       14                5
1228595400           5       15                5
1295733480           5       16                5
1274563200           5       17                4
1295740620           5       18                4
1273362300           5       19                4
1295747760           5       20                4
1274577960           5       21                4
1231038060           5       22                4
1273376160           5       23                4
1295762040           6        0                4
1272776700           6        1                4
1249797960           6        2                4
1286697240           6        3                4
1294566900           6        4                4
1296988860           6        5                4
1271586840           6        6                4
1296996000           6        7                4
1258290840           6        8                4
1259503740           6        9                4
1271601420           6       10                4
1243783860           6       11                4
1225645920           6       12                4
1222019700           6       13                4
1221418320           6       14                4
1220814180           6       15                4
1220817600           6       16                4
1220821200           6       17                0
1220824800           6       18                0
1220828400           6       19                0
1220832000           6       20                0
1220835600           6       21                0
1220839200           6       22                0
1220842800           6       23                0

## Generate the mapping manually

By creating the mapping twice we help QA along:

In [8]:
hour_list = []
weekday_list = []
shifted_list = []

shifted_list.extend([0] * 17)

for i in range(0, 4):
    weekday_list.extend([i] * 24)
    hour_list.extend(sorted(list(range(0, 24))))

    if i >= 1:
        shifted_list.extend([i] * 24)

shifted_list.extend([4] * 24)

weekday_list.extend([4] * 17)
hour_list.extend(sorted(list(range(0, 17))))

weekday_list.extend([6] * 7)
hour_list.extend(sorted(list(range(17, 24))))
shifted_list.extend([0] * 7)

df_shifted_weekday_manually_constructed = pd.DataFrame({'weekday_tz' : weekday_list, 'hour_tz' : hour_list, 'weekday_shifted' : shifted_list})

## QA

#### Test for dataframe equality

In [9]:
for column_name in ['weekday_tz', 'hour_tz', 'weekday_shifted']:
    print(list(df_shifted_weekday_from_data[column_name]) == list(df_shifted_weekday_manually_constructed[column_name]))
    print(min([int(i) for i in [x == y for x, y in zip(df_shifted_weekday_from_data[column_name], df_shifted_weekday_manually_constructed[column_name])]]))

False
0
False
1
False
0

#### Aggregations

In [10]:
df_test = df_shifted_weekday_manually_constructed.copy()
df_test['dummy_variable'] = 1

(
    df_test
    .groupby(['weekday_tz'])
    ['dummy_variable']
    .agg('count')
    .reset_index()
)

   weekday_tz  dummy_variable
0           0              24
1           1              24
2           2              24
3           3              24
4           4              17
5           6               7

In [11]:
df_agg_hour_tz = (
    df_test
    .groupby(['hour_tz'])
    ['dummy_variable']
    .agg('count')
    .reset_index()
)

df_agg_hour_tz

    hour_tz  dummy_variable
0         0               5
1         1               5
2         2               5
3         3               5
4         4               5
5         5               5
6         6               5
7         7               5
8         8               5
9         9               5
10       10               5
11       11               5
12       12               5
13       13               5
14       14               5
15       15               5
16       16               5
17       17               5
18       18               5
19       19               5
20       20               5
21       21               5
22       22               5
23       23               5

In [12]:
print(min(df_agg_hour_tz['dummy_variable']), max(df_agg_hour_tz['dummy_variable']))

5 5

In [13]:
(
    df_test
    .groupby(['weekday_shifted'])
    ['dummy_variable']
    .agg('count')
    .reset_index()
)

   weekday_shifted  dummy_variable
0                0              24
1                1              24
2                2              24
3                3              24
4                4              24

## Save mapping

In [14]:
df_shifted_weekday_manually_constructed.to_csv(output_directory + '/df_weekday_shift_lookup_table.csv', index=False)